# URL do Frontend
FRONTEND_URL=https://seu-dominio.com

# Configurações do Servidor
PORT=3001

# Configurações do Banco de Dados
DB_HOST=localhost
DB_USER=root
DB_PASS=sua_senha_mysql
DB_NAME=agendamento_nutrilite

# Configurações JWT
JWT_SECRET=nutrilite_secret_key_ag3nd4m3nt0

# Configurações do Email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=servicosnutriliteagendamento@gmail.com
EMAIL_PASS=
EMAIL_FROM=servicosnutriliteagendamento@gmail.com
ENABLE_EMAILS=true

# Usuário Admin Padrão
DEFAULT_ADMIN_EMAIL=servicosnutriliteagendamento@gmail.com
DEFAULT_ADMIN_PASSWORD=nutrilite
